body {
  background: rgb(238,174,202);
  color: whitesmoke;

}

.heading {
      border: 10px solid rgba(229, 204, 214, 0.726);
      padding: 15px;
      background-color: rgb(73, 42, 65);
      color: whitesmoke;
      text-align: center;
    }

    .picture-grid-container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 250px 250px;
      padding: 10px;
      justify-content: center;
    }
   
      
      .picture-grid-container > div {
        background-color: rgb(73, 42, 65);
        text-align: center;
        font-size: 20px;
        padding: 40px;
        border: 10px solid rgba(229, 204, 214, 0.733);
      
      }

      

      @media only screen and (max-width: 700px) {

        .picture-grid-container {
          display: grid;
          grid-template-columns: auto;
          
        }
      }

.responsive {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.gridVideoContainer {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 50% 50%;
  padding: 10px;
  justify-content: center;
}

  
  .gridVideoContainer > div {
    background-color: rgb(73, 42, 65);
    text-align: center;
    font-size: 20px;
    padding: 40px;
    border: 10px solid rgba(229, 204, 214, 0.733);
  
  }

  

  @media only screen and (max-width: 700px) {

    .gridVideoContainer {
      display: grid;
      grid-template-columns: auto;
      
    }
  }

.classDescription:hover {
    background-color: #475569
}
.hide{
  display: none;
}

.Text:hover + .hide {
  color:whitesmoke;
  display: contents;
  
}


       /*creating a top nav*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgb(73, 42, 65) ;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: whitesmoke;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: lightslategray;
}

/*making it responsive*/
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgb(73, 42, 65);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
          
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}


