@import url(https://fonts.googleapis.com/css?family=Ewert);
@import url(https://fonts.googleapis.com/css?family=Ultra);

body {
  background-image: url(https://i.imgur.com/K6g10BB.jpg);
  background-repeat: repeat;
}

.poster {
    width: 488px;
    height: 680px;
    background-image: url(https://i.imgur.com/Y9Tiq8a.jpg);
    box-shadow: 13px 5px 15px 5px #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Ultra';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ultra/v13/zOLy4prXmrtY-uT9wrI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    white-space: nowrap;
    text-overflow: ellipsis;
}




#mugshot {
    width: 300px;
    height: 325px;
    filter: sepia(60%);
}

h1 {
    font-family: "Ewert";
    font-size: 44pt;
    font-color: #291200;
} 



